@model IEnumerable<WeatherA.Class.MessagesView>
    <div class="container-fluid">
        <h1 class="mt-4">Alertas</h1>

        <div class="card mb-4">
            <div class="card-header"></i><i class="fas fa-exclamation-triangle"></i> Alertas Broca</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Estación</th>
                                <th>Registro</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Estación</th>
                                <th>Registro</th>
                                <th>Fecha</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.AlertTypeID == 1)
                                {
                                    <tr>
                                        <th>@Html.DisplayFor(modelItem => item.StationID)</th>
                                        <th>@Html.DisplayFor(modelItem => item.WeatherSummaryID)</th>
                                        <th>@Html.DisplayFor(modelItem => item.Date)</th>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-exclamation-triangle"></i> Alertas Broca</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Estación</th>
                                <th>Registro</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Estación</th>
                                <th>Registro</th>
                                <th>Fecha</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.AlertTypeID == 2)
                                {
                                    <tr>
                                        <th>@Html.DisplayFor(modelItem => item.StationID)</th>
                                        <th>@Html.DisplayFor(modelItem => item.WeatherSummaryID)</th>
                                        <th>@Html.DisplayFor(modelItem => item.Date)</th>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>